<div class="footer-sticked-chat"><!-- Start: Footer Sticked Chat -->

	
	<ul class="chat-conversations list-unstyled">

		<!-- Extra Chat Conversations collected not to exceed window width -->

		<li id="sample-chat-window"ng-class="{'open': isConversationVisible}">
			<!-- User Info Link -->
			<a href="" ng-click="toggleChatConversation()" class="chat-user">
				<span class="user-status is-online"></span>
				Public Chat
			</a>

			<span class="badge badge-purple">4</span>

			<!-- Conversation Window -->
			<div class="conversation-window">
				<!-- User Info Link in header (used to close the chat bar) -->
				<a href="" ng-click="toggleChatConversation()" class="chat-user">
					<span class="close">&times;</span>

					<span class="user-status is-online"></span>
					Public Chat
				</a>

				<ul class="conversation-messages">
					<div class="chat-box-scroller" style="height: 250px;" data-always-visible="1" data-rail-visible="1" data-handle-color="#D7DCE2">
						<!-- Will indicate time -->
						<li class="time">Thursday 04, December '14</li>

						<li ng-repeat="message in publicRoomMessages" ng-class="{me : message.author == 'You'}">
							<div class="user-info">
								<a href="#">
									<span ng-if="message.author == 'You'">{{ message.author }}</span>
									<span ng-if="message.author != 'You'">{{ message.author.fullname }}</span>
								</a>
								<div class="time">{{ message.createdAt | amDateFormat:'MMMM Do YYYY, h:mm:ss' }}</div>
							</div>
							<div class="message-entry">
								<p ng-repeat="entry in message.msg track by $index">{{ entry }}</p>
							</div>
						</li>
					</div>
				</ul>

				<form method="post" class="chat-form">
					<input type="text" class="form-control" ng-model="chatText" placeholder="Enter your message..." ng-enter="sendMessageToPublishRoom()" />
				</form>
			</div>
		</li>

	</ul>

	<a href="" class="mobile-chat-toggle">
		<i class="linecons-comment"></i>
		<span class="num">6</span>
		<span class="badge badge-purple">4</span>
	</a>

<!-- End: Footer Sticked Chat -->
</div>
